.rouge{
    color:red;
    font-size: 20px;
    text-align: center;
    background-color: palegoldenrod;

}
.violet1{
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top:20px;
}
.violet2{
    color: violet;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.paragraphe{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-indent: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.bleu{
    color: blue;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold ;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.newroman{
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
    margin-left: 1cm;
    margin-right: 1cm;
    margin-top: 10px;
    margin-bottom: 20px;
}
.italic{
    font-style: italic;
}
h3{
    font-size: 13px;
    text-decoration:underline ;
}
.paragraphe2{
    text-indent: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.normal{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    text-align: justify;
}
.bleuclair{
    color: lightblue;
    margin-top: 10px;
    margin-bottom: 20px;
}