.pingouin{
    background-image: url('./image/pingouin.png');
    background-attachment: fixed;
    background-size: cover;
}
.feuilles{
    background: scroll top;
    background-image: url(./image/feuilles.png);
   
}
.violet{
    color: darkviolet;
}
.italic{
    font-style: italic;
}
p{
    font-size: 40px;
    margin-left: 20px;
}
.bordure{
    border-top:auto;
    border-bottom: auto;
    border-left: auto;
    border-right:auto;
    background-color: rgb(226, 96, 96);
    background-image: url('./image/pingouin.png');
    background-attachment: fixed;
    background-size: cover;
}
.bordureint{
    border-top: auto;
    border-bottom: auto;
    border-left: auto;
    border-right: auto;
    background-color: red;
    opacity: 0.4;
}
.espace{
    margin-left: 20px;
    margin-right: 20px;
}
.vert{
    background-color: green;
}